.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.poster {
  width: 100%;
}
.info {
  margin-top: 10px;
}