.nav {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10;  
  padding: 20px 30px;
  border-radius: 50px;
  background-color: #333;
  transform: translateX(-50%);;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav ul li a {
  transition: all 0.3s ease-in-out;
}
.nav ul li a:hover {
  color: #ddd;
}
